<dialog id="playlist-modal" class="modal">
  <div class="modal-box bg-base-100 p-1  w-300 h-100 shadow-md " (click)="$event.stopPropagation()">

    <div class="flex flex-col justify-between  h-full p-5">

      <div class="flex flex-col">
        <div class="flex justify-between">

          <span class="text-sm mb-5">Your Playlists</span>
          <button class="btn btn-ghost btn-sm " aria-label="Edit Playlists" (click)="navigateToPlaylists()"
            title="Edit Playlists">
            Edit Playlist
            <i class="bx bx-edit-alt text-lg"></i>
          </button>

        </div>

        @if (loading && showModal) {
        <!-- Loading spinner/message -->
        <div class="text-center py-4 text-gray-500">
          Loading playlists...
        </div>
        }

        @if (!loading && playlists.length === 0 && showModal) {
        <!-- No playlists available -->
        <div class="text-center py-4 text-gray-500">
          No playlists found.
        </div>
        }

        @if (!loading && playlists.length > 0) {
        <!-- Playlists list -->
        }
      </div>


      <div class="flex justify-center space-x-4 px-2">
        <button class="btn " (click)="this.close()">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
    </div>

  </div>
</dialog>