<div class="tabs tabs-border h-full overflow-y-hidden">
  <input type="radio" name="my_tabs_1" class="tab" aria-label="Videos" checked="checked" />
  <div class="tab-content h-full overflow-y-auto">
    <app-global-videos></app-global-videos>
  </div>

  <input type="radio" name="my_tabs_1" class="tab" aria-label="Spaces" />
  <div class="tab-content  h-full overflow-y-auto">
    <app-global-spaces></app-global-spaces>
  </div>

  <input type="radio" name="my_tabs_1" class="tab" aria-label="Recommenteds" />
  <div class="tab-content h-full overflow-y-auto">

  </div>

  <input type="radio" name="my_tabs_1" class="tab" aria-label="Peoples" />
  <div class="tab-content h-full overflow-y-auto">

  </div>
</div>