<div class="menu rounded-box bg-base-200  m-5">

    <li class="menu-title">Menu</li>

    <li>
        <a routerLink="general" routerLinkActive="menu-active">
            <i class='bx  bx-user'></i>
            <span>General</span>
        </a>
    </li>

    <li>
        <a routerLink="security" routerLinkActive="menu-active">
            <i class='bx  bx-lock bx-sx'></i>
            <span>Security</span>
        </a>
    </li>

    <li>
        <a routerLink="appearance" routerLinkActive="menu-active">
            <i class='bx  bx-moon'></i>
            <span>Appearance</span>
        </a>
    </li>

    <li>
        <a routerLink="addons" routerLinkActive="menu-active">
            <i class='bx  bx-cube'></i>
            <span>Add-ons</span>
        </a>
    </li>

</div>