<div class="mx-auto px-4 mt-6">

  <div class="p-3 text-xs">
    <div>Query: "{{ query }}"</div>
    <div>Tags Query: "{{ tagsQuery }}"</div>
    <div>Total Result: {{ totalCount }} videos</div>
  </div>

  <!-- Loading State -->
  @if (this.loading) {
  <div>
    <p class="font-medium text-center">Loading videos...</p>
  </div>
  }

  @if(!this.loading && videos.length > 0){
  <!-- Gallery View -->
  <app-gallery-view ViewMode="full" [videos]="videos"></app-gallery-view>
  }

  @if (!loading && videos.length === 0 && query) {
  <!-- No results state -->
  <div>
    <p class="text-center mt-4">
      No videos found for "{{ query }}"
    </p>
  </div>
  }

</div>