<!-- Container that clears the global sidebar with padding-left: 256px -->
<div class="w-full px-4 pt-5 flex flex-col gap-8 xl:flex-row">

  @if (video) {
  <!-- Video Area: 70% width on xl+ screens, 100% on smaller screens -->
  <div class="w-full xl:w-[70%] flex flex-col">



    <div class="xl:p-10">
      @if (false) {
      <app-vidstack-player #vidstackPlayer [videoData]="video"></app-vidstack-player>
      }@else {
      <app-default-video-player [videoData]="video"></app-default-video-player>
      }

      <div class="flex justify-between items-center w-full py-2">
        <div *ngIf="video.fileName" class="text-xl truncate pr-5 font-semibold" [title]="video.fileName">
          {{ video.fileName }}
        </div>

      </div>

      <div class="flex items-center justify-between">
        <app-video-title-bar class="break-all" [videoData]="video"></app-video-title-bar>

        <app-video-action-bar [videoId]="video.videoId" [isSaved]="isSaved" [loadingSavedVideo]="loadingSavedVideo"
          (toggleSaved)="toggleSaved()" [getCurrentTimeFn]="getCurrentTimeFromPlayer"
          [videoDurationSeconds]="video.codecs.durationSec" [videoUploadedAt]="video.uploadedAt"
          [videoResolution]="video.codecs.resolution"></app-video-action-bar>
      </div>


      <app-watch-detail-section [videoData]="video"></app-watch-detail-section>


      <div class="flex flex-col gap-6 mt-6 p-6 pb-10 bg-base-100 rounded-xl shadow-md">
        <app-video-admin-tabs #adminTabs [videoId]="video.videoId" [currentTags]="video.tags"
          (tagsUpdated)="video.tags = $event" (addMarkerClicked)="onAddMarkerClicked()"></app-video-admin-tabs>
      </div>
    </div>




  </div>

  <!-- Sidebar + Comments (30% width) on lg+ screens, full width on smaller screens -->
  <div class="w-full xl:w-[30%] flex flex-col gap-6 mt-6 lg:mt-0">
    <app-similar-videos-panel [currentVideoId]="videoId!"></app-similar-videos-panel>
  </div>
  }@else {
  <p>Loading video...</p>
  }

</div>