<!-- Container that clears the global sidebar with padding-left: 256px -->
<div class="w-full px-4 pt-5 flex flex-col md:flex-row gap-8">
  <ng-container *ngIf="video; else loading">
    <!-- Video Area: 70% width on md+ -->
    <div class="w-full md:w-[70%] flex flex-col">

      <div class="flex items-center justify-between">

        <app-video-title-bar class=" break-all" [videoTitle]="video.fileName"></app-video-title-bar>
        <app-video-action-bar [videoId]="video.videoId" [isSaved]="isSaved" [loadingSavedVideo]="loadingSavedVideo"
          (toggleSaved)="toggleSaved()" [getCurrentTimeFn]="getCurrentTimeFromPlayer"
          [videoDurationSeconds]="video.codecs.durationSec" [videoUploadedAt]="video.uploadedAt"
          [videoResolution]="video.codecs.resolution"></app-video-action-bar>


      </div>

      <div>
        <ng-container *ngIf="true; else defaultPlayer">
          <app-vidstack-player #vidstackPlayer [videoData]="video"></app-vidstack-player>
        </ng-container>
        <ng-template #defaultPlayer>
          <app-default-video-player [videoUrl]="videoUrl" [posterUrl]="thumbnailUrl"></app-default-video-player>
        </ng-template>
      </div>

      <div *ngIf="video.fileName" class="text-xl font-semibold" [title]="video.fileName">
        {{ video.fileName }}
      </div>


      <!-- Metadata badges -->
      <div class="flex flex-wrap py-5 gap-1 w-full text-xs">
        <span *ngIf="video.uploadedAt" class="inline-flex items-center gap-1 p-3 font-medium bg-base-100 rounded-xl"
          [title]="video.uploadedAt">
          <i class="bx bx-time bx-xs"></i>
          <span>{{ video.uploadedAt | date : 'mediumDate' }}</span>
        </span>
        <span *ngIf="video.codecs.resolution" class="inline-flex items-center gap-1 p-3 bg-base-100 rounded-xl"
          [title]="video.codecs.resolution.width">
          <i class="bx bx-desktop bx-xs"></i>
          <span>{{ video.codecs.resolution.width }} x {{ video.codecs.resolution.height }}</span>
        </span>
        <span *ngIf="video.codecs.durationSec !== undefined"
          class="inline-flex items-center gap-1 p-3 bg-base-100 rounded-xl"
          [title]="formatTime(video.codecs.durationSec)">
          <i class="bx bx-time bx-xs"></i>
          <span>{{ formatTime(video.codecs.durationSec) }}</span>
        </span>
        <span class="inline-flex items-center gap-1 p-3 bg-base-100 rounded-xl">
          <i class="bx bx-video bx-xs"></i>
          <span>{{video.codecs.frameRate}} fps</span>
        </span>

      </div>


      <!-- Video Info Panels -->
      <div class="flex flex-col gap-6 p-6 pb-10 bg-base-100 rounded-xl shadow-md">
        <app-video-tags-panel [tags]="video.tags"></app-video-tags-panel>
      </div>
      <div class="flex flex-col gap-6 mt-6 p-6 pb-10 bg-base-100 rounded-xl shadow-md">
        <app-video-admin-tabs #adminTabs [videoId]="video.videoId" [currentTags]="video.tags"
          (tagsUpdated)="video.tags = $event" (addMarkerClicked)="onAddMarkerClicked()"></app-video-admin-tabs>
      </div>
    </div>

    <!-- Sidebar + Comments (30% width) -->
    <div class="w-full md:w-[30%] flex flex-col gap-6">


      <app-similar-videos-panel [currentVideoId]="videoId!"
        (navigateToVideo)="navigateToVideo($event)"></app-similar-videos-panel>
    </div>
  </ng-container>

  <ng-template #loading>
    <p>Loading video...</p>
  </ng-template>
</div>