<div class="flex flex-col h-full overflow-hidden z-0">

    <div class="p-3 flex w-full justify-center gap-5 ">
        <!-- Infinite Fetch Mode Toggle -->
        <label class="label text-xs">
            <input type="checkbox" [(ngModel)]="infiniteMode" [checked]="infiniteMode" (click)="toggleInfiniteMode()"
                class="toggle toggle-xs" />
            Infinite Fetch
        </label>

        <!-- Preview Playback Toggle -->
        <label class="label text-xs">
            <input type="checkbox" [(ngModel)]="previewPlayback" [checked]="previewPlayback"
                (click)="togglePreviewPlayback()" class="toggle toggle-xs" />
            Preview Playback
        </label>

        <!-- Mini View Mode Toggle -->
        <label class="label text-xs">
            <input type="checkbox" [(ngModel)]="isMiniView" [checked]="isMiniView" (click)="toggleMiniView()"
                class="toggle toggle-xs" />
            Mini View
        </label>
    </div>

    <div class="h-full overflow-hidden">

        @if (infiniteMode) {
        <!-- Conditionally render the appropriate component based on infiniteMode -->
        <app-gallery-infinite-fetcher [isMiniView]="isMiniView" [PreviewPlayback]="previewPlayback"
            [route]="this.routeCategory" [slug]="this.slug">
        </app-gallery-infinite-fetcher>
        }
        @else {
        <app-gallery-page-fetcher [isMiniView]="isMiniView" [PreviewPlayback]="previewPlayback"
            [route]="this.routeCategory" [slug]="this.slug">
        </app-gallery-page-fetcher>
        }

    </div>
</div>