<div class="flex flex-col h-full overflow-hidden z-0">

    <div class="h-full overflow-hidden">

        @if (infiniteMode) {
        <!-- Conditionally render the appropriate component based on infiniteMode -->
        <app-gallery-infinite-fetcher [isMiniView]="isMiniView" [PreviewPlayback]="previewPlayback"
            [route]="this.routeCategory" [slug]="this.slug">
        </app-gallery-infinite-fetcher>
        }
        @else {
        <app-gallery-page-fetcher [isMiniView]="isMiniView" [PreviewPlayback]="previewPlayback"
            [route]="this.routeCategory" [slug]="this.slug">
        </app-gallery-page-fetcher>
        }

    </div>
</div>