<div class="grid grid-cols-2 gap-4">


    <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
        <legend class="fieldset-legend">VR Player</legend>
        <label class="label">
            <input type="checkbox" checked="checked" class="toggle" />
            Enable VR Player
        </label>
    </fieldset>

    <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
        <legend class="fieldset-legend">Clock</legend>
        <label class="label">
            <input type="checkbox" checked="checked" class="toggle" />
            Enable Time
        </label>
    </fieldset>
</div>