<div>

  @if (videos.length === 0) {
  <div class="text-center">
    No videos found.
  </div>
  }

  @if (ViewMode === 'full') {
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-6 w-full">
    @for (video of videos; track $index) {
    <default-video-card [video]="video"></default-video-card>
    }
  </div>
  }

  @if (ViewMode === 'mini') {
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-0.5 w-full">
    @for (video of videos; track $index) {
    <mini-video-card [video]="video"></mini-video-card>
    }
  </div>
  }


</div>