.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  /* This targets items that are animating into their new position */
  transition: transform 250ms ease-in-out;
}

/* This is the key rule for animating other items when the list is being dragged */
#dragging-animation.cdk-drop-list-dragging li:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
