.pin-label {
  font-size: 10px;
  color: var(--text-base);
}

.is-selected {
  /* Remove the outer border */
  border: none;

  /* Use box-shadow with the 'inset' keyword */
  box-shadow: 
    /* horizontal offset | vertical offset | blur radius | spread radius | color */ inset
    0 0 0 1px var(--color-amber-500);
}
