<div class="flex flex-col overflow-visible aspect-video" (touchstart)="onMouseEnter()" (touchend)="onMouseLeave()"
  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="block w-full overflow-hidden">
    <figure class="relative w-full aspect-video overflow-hidden">


      <!-- Video playback if PreviewPlayback is true -->
      <div (click)="navigateToWatch()" class="relative w-full h-full">

        @if (this.isLoading) {
        <div class="absolute h-full w-full flex justify-center items-center z-10 pointer-events-none">
          <span class="loading loading-spinner loading-xs w-10 bg-base-100 "></span>
        </div>
        }

        <video #preview [src]="getPreviewUrl()" preload="none" muted loop playsinline
          class="w-full h-full object-cover absolute top-0 left-0" [poster]="getThumbnailUrl()"></video>

      </div>


      <!-- Watched label -->
      @if (this.isWatched) {
      <div
        class="absolute top-2 right-2 bg-black text-white text-xs font-semibold px-2 py-0.5 rounded-full flex items-center gap-1 z-30">
        <span>Watched</span>
      </div>
      }

      <!-- Video duration -->
      <!-- <div class="absolute bottom-2 right-2 bg-black text-white bg-opacity-60 text-xs px-2 py-1 rounded select-none">
        {{ formatDuration(video.codecs.durationSec) }}
      </div> -->

      <!-- Video quality label -->
      <!-- @if (this.videoQuality) {
      <div
        class="absolute top-2 left-2 bg-black bg-opacity-60 text-white text-xs font-semibold px-2 py-0.5 rounded select-none">
        {{ videoQuality }}
      </div>
      } -->
    </figure>
  </div>
</div>