<div class="flex flex-col overflow-visible aspect-video">
  <div class="block w-full overflow-hidden">
    <figure class="relative w-full aspect-video overflow-hidden">


      <!-- Thumbnail if PreviewPlayback is false -->
      @if (!PreviewPlayback) {
      <div (click)="navigateToWatch()" class="relative w-full h-full">
        <img [src]="getThumbnailUrl()" [alt]="video.fileName"
          class="w-full h-full object-cover absolute top-0 left-0" />
      </div>
      } @else {
      <!-- Video playback if PreviewPlayback is true -->
      <div (click)="navigateToWatch()" class="relative w-full h-full">
        <video #preview [src]="getPreviewUrl()" muted loop playsinline
          class="w-full h-full object-cover absolute top-0 left-0"></video>
      </div>
      }

      <!-- Save button -->
      <div *ngIf="isSaved" class="absolute bottom-2 left-2 z-30">
        <button class="btn btn-xs btn-circle bg-black/60 hover:bg-black text-yellow-500 border-none"
          title="Add to Saved" (click)="$event.preventDefault(); $event.stopPropagation()">
          <i class="bx bxs-star text-sm"></i>
        </button>
      </div>

      <!-- Watched label -->
      <div *ngIf="isWatched"
        class="absolute top-2 right-2 bg-black text-white text-xs font-semibold px-2 py-0.5 rounded-full flex items-center gap-1 z-30">
        <span>Watched</span>
      </div>

      <!-- Video duration -->
      <div class="absolute bottom-2 right-2 bg-black text-white bg-opacity-60 text-xs px-2 py-1 rounded">
        {{ formatDuration(video.codecs.durationSec) }}
      </div>

      <!-- Video quality label -->
      <div *ngIf="videoQuality"
        class="absolute top-2 left-2 bg-black bg-opacity-60 text-white text-xs font-semibold px-2 py-0.5 rounded">
        {{ videoQuality }}
      </div>
    </figure>
  </div>
</div>

<!-- Updated playlist modal -->
<app-sendto-modal [showModal]="playlistModalVisible" [selectedVideoId]="this.video.videoId"
  (close)="closePlaylistModal()">
</app-sendto-modal>