<div class="collapse bg-base-100 border border-base-300 my-5">
  <input type="radio" name="my-accordion-1" />
  <div class="collapse-title font-semibold flex gap-2 items-center">
    <i class='bx bxs-purchase-tag-alt bx-xs'></i>
    <span>Metadata</span>
  </div>
  <div class="collapse-content text-sm">

    <!-- If tags exist -->
    <div *ngIf="tags.length > 0; else noTags" class="flex flex-wrap gap-2">
      <app-tag-link *ngFor="let tag of tags" [tag]="tag"></app-tag-link>
    </div>

    <!-- Fallback -->
    <ng-template #noTags>
      <div class="text-sm text-gray-500">No tags available for this video.</div>
    </ng-template>
  </div>
</div>