<div class="p-10">

    <div class="flex justify-between p-5">
        <div class="flex gap-5">
            <button class='btn btn-xs'>Add Account</button>
            <button class='btn btn-xs btn-error'>Delete Account</button>
            <button class='btn btn-xs btn-error'>Block Account</button>
        </div>

        <div class="flex">
            <label class="input input-xs">
                <i class='bx bx-search bx-xs'></i>
                <input type="search" class="grow" placeholder="Search" />
            </label>
        </div>
    </div>


    <div class="overflow-x-auto">
        <table class="table table-xs">

            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Job</th>
                    <th>Favorite Color</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th>1</th>
                    <td>Cy Ganderton</td>
                    <td>Quality Control Specialist</td>
                    <td>Blue</td>
                </tr>

                <tr>
                    <th>2</th>
                    <td>Hart Hagerty</td>
                    <td>Desktop Support Technician</td>
                    <td>Purple</td>
                </tr>

                <tr>
                    <th>3</th>
                    <td>Brice Swyre</td>
                    <td>Tax Accountant</td>
                    <td>Red</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>