<div class="space-y-6 p-10">


    <div class="border-2 border-dashed rounded-xl p-8 text-center transition-all duration-300 ease-in-out cursor-pointer"
        [ngClass]="{
            'border-primary bg-primary/10': dragging,
            'border-base-content/20 bg-base-200 hover:bg-base-300': !dragging
        }" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
        (click)="fileInput.click()">

        <i class='bx bx-cloud-upload bx-lg'></i>

        <p class="text-lg font-medium mb-1">
            Drag and drop videos here
        </p>
        <p class="text-sm opacity-70">
            (Only MP4 videos are allowed) or click to browse
        </p>

        <input type="file" accept="video/mp4" multiple hidden #fileInput (change)="onFileSelected($event)" />
    </div>

    <div class="flex justify-center gap-2">

        <button class="btn btn-xs sm:btn-md" [disabled]="pendingFiles.length === 0" (click)="uploadAll()">
            <i class='bx bxs-cloud-upload bx-xs'></i>
            <span>Upload All ({{ pendingFiles.length }})</span>
        </button>

        <button class="btn btn-xs sm:btn-md" [disabled]="selectedFiles.length === 0" (click)="clearAll()">
            <i class='bx bx-x bx-xs'></i>
            <span>Clear List</span>
        </button>
    </div>

    @if (selectedFiles.length > 0) {
    <div class="flex flex-col items-end w-full">
        <span class="text-sm font-semibold opacity-80 mb-2">
            Total Uploads: {{ totalUploadProgress }}%
        </span>
        <progress class="progress transition-all duration-300  w-full" [value]="totalUploadProgress" max="100">
        </progress>
    </div>
    }

    @if (pendingFiles.length > 0) {
    <ul class="list bg-base-100 rounded-box shadow-md">


        <li class="p-4 pb-2 text-xs tracking-wide">Pending Uploads ({{ pendingFiles.length }})</li>

        @for (uploadFile of pendingFiles; track $index) {
        <li class="list-row">


            <div class="flex-1 min-w-0">
                <span class="font-semibold text-ellipsis overflow-hidden whitespace-nowrap block">{{
                    uploadFile.file.name }}</span>
                <span class="text-xs opacity-70">{{ formatSize(uploadFile.file.size) }}</span>

            </div>

            <div>
                <div class="badge badge-xs p-2 w-20 " [ngClass]="{
                                'badge-warning': uploadFile.status === 'PENDING',
                                'badge-info': uploadFile.status === 'UPLOADING',
                                'badge-error': uploadFile.status === 'FAILED'
                            }">
                    {{ uploadFile.status }}
                </div>
            </div>

            @if (uploadFile.status === 'UPLOADING') {
            <div class=" flex gap-2">
                <span>{{ uploadFile.progress }}%</span>
            </div>
            }

            <button class="btn btn-ghost btn-sm btn-circle" (click)="removeFile(uploadFile)">
                <i class='bx bx-x bx-xs'></i>
            </button>


        </li>
        }

    </ul>
    }

    @if (processingFiles.length > 0) {
    <ul class="list bg-base-100 rounded-box shadow-md">

        <li class="p-4 pb-2 text-xs tracking-wide">
            <div class="inline-grid *:[grid-area:1/1] mr-2">
                <div class="status status-info animate-ping"></div>
                <div class="status status-info"></div>
            </div>
            Processing ({{ processingFiles.length }})
        </li>


        @for (uploadFile of processingFiles; track $index) {
        <li class="list-row">

            <div class="flex-1 min-w-0">
                <span class="font-semibold text-ellipsis overflow-hidden whitespace-nowrap block">{{
                    uploadFile.file.name }}</span>
                <span class="text-xs opacity-70">{{ formatSize(uploadFile.file.size) }}</span>
            </div>

            <div>
                <div class="badge badge-xs w-20  p-2 badge-info">PROCESSING</div>
            </div>

            <button class="btn btn-ghost  btn-sm btn-circle" (click)="removeFile(uploadFile)">
                <i class='bx bx-x bx-xs'></i>
            </button>
        </li>
        }

    </ul>
    }

    @if (completedFiles.length > 0) {
    <ul class="list bg-base-100 rounded-box shadow-md">

        <li class="p-4 pb-2 text-xs tracking-wide">Done ({{ completedFiles.length }})</li>

        @for (uploadFile of completedFiles; track $index) {
        <li class="list-row">

            <div class="flex-1 min-w-0">
                <span class="font-semibold text-ellipsis overflow-hidden whitespace-nowrap block">{{
                    uploadFile.file.name }}</span>
                <span class="text-xs opacity-70">{{ formatSize(uploadFile.file.size) }}</span>
            </div>

            <div>
                <div class="badge badge-xs w-20  p-2 badge-success">COMPLETED</div>
            </div>

            <button class="btn btn-ghost  btn-sm btn-circle" (click)="removeFile(uploadFile)">
                <i class='bx bx-x bx-xs'></i>
            </button>
        </li>
        }

    </ul>
    }

    @if (selectedFiles.length === 0) {
    <div class="alert mt-6">
        <i class='bx bx-info-circle bx-xs'></i>
        <span>No files selected. Drag and drop or click 'Choose Files' to start.</span>
    </div>
    }
</div>