<div class="flex flex-col w-full h-full overflow-y-hidden relative">
    <!-- absolute stats bar -->
    <div class=" p-1 w-full text-xs flex items-center justify-center gap-5">
        <span>
            Total Fetched Videos: <span class="font-semibold">{{ videos.length }}</span>
        </span>
        <span>
            Total Videos: <span class="font-semibold">{{ TotalVideos }}</span>
        </span>
    </div>

    <!-- scrollable content -->
    <div #scrollContainer class="h-full overflow-y-auto py-3" (scroll)="onScroll($event)">
        <app-gallery-view [ViewMode]="isMiniView ? 'mini' : 'full'" [videos]="this.videos"
            [PreviewPlayback]="PreviewPlayback">
        </app-gallery-view>

        <button class="btn my-5 w-full flex justify-center items-center" (click)="loadMore()"
            [disabled]="loading || TotalBuckets === 1 || TotalVideos === 0">
            <span *ngIf="!loading">Load More</span>
            <div *ngIf="loading" class="loading spinner"></div>
        </button>
    </div>
</div>