<div class="canvas-viewport w-full h-full overflow-hidden relative" #graphContent>


  <!-- Graph Content Section -->
  <div class="graph-content absolute z-10 top-0 left-0" [style.width.px]="canvasStatus.canvasWidth"
    [style.height.px]="canvasStatus.canvasHeight" [canvasController]="canvasStatus">

    @for (node of this.canvasStatus.allNodes; track $index) {
    <node-box [nodedata]="node" [canvasStatus]="canvasStatus"></node-box>
    }

    <node-connection [connection]="this.connection"></node-connection>
  </div>

  <!-- Canvas UI Section -->
  <div class="absolute bottom-5 left-5 z-20">
    <canvas-status-bar [canvasStatusData]="canvasStatus"></canvas-status-bar>
  </div>

  <div class="absolute top-5 left-5 z-20">
    <shortcut-info [canvasStatusData]="canvasStatus"></shortcut-info>
  </div>

  <div class="absolute top-5 right-5 z-20 flex flex-col gap-1">
    <toggle-ui [canvasStatusData]="canvasStatus"></toggle-ui>
    <reset-view [canvasStatusData]="canvasStatus"></reset-view>
    <reset-scale [canvasStatusData]="canvasStatus"></reset-scale>
  </div>

  <div class="absolute top-50 right-1">
    <inspector [canvasStatusData]="canvasStatus"></inspector>
  </div>

</div>