<div class="flex items-center gap-4 text-xs">
    <div
        class="bg-base-200 px-3 py-1 rounded-full flex items-center gap-1 focus-within:ring-1 focus-within:ring-success/50">

        <input type="number" [value]="current" (keyup.enter)="goToPage($event)" (blur)="goToPage($event)"
            class="w-5 bg-transparent text-center outline-none [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" />

        <span class="text-base-content/40">/</span>
        <span class="text-base-content">{{ formatNum(total) }}</span>
    </div>

    <div class="flex gap-2">
        <button (click)="prev.emit()" class="btn btn-ghost btn-circle btn-sm" [disabled]="current === 1">
            <i class='bx bx-chevron-left bx-sm'></i>
        </button>

        <button (click)="next.emit()" class="btn btn-ghost btn-circle btn-sm" [disabled]="current === total">
            <i class='bx bx-chevron-right bx-sm'></i>
        </button>
    </div>
</div>