@if (isVisible) {

<div class="absolute bottom-10 z-1 flex flex-col items-center w-40" [style.left]="clampedLeftPosition">

  <!-- 1. IMAGE/THUMBNAIL PREVIEW (Top) -->
  <!-- The actual width/height is determined by the cue dimensions in previewImageStyles -->
  <div [ngStyle]="previewImageStyles" class="shadow-lg border-2 rounded-2xl border-white" style="margin-bottom: 5px;">
  </div>

  <!-- 2. TEXT CONTAINER (Middle/Bottom) -->
  <!-- Text elements are centered within the w-40 container via items-center on the parent flex -->

  <div class="flex items-center text-sm py-1 px-3 rounded-2xl bg-black text-white">
    <div>
      {{ formatTime(timeInSeconds) }}
    </div>

    @if (nearMarker; as marker) {
    <div class="ml-2 pl-2 font-semibold">
      {{ marker.title }}
    </div>
    }
  </div>
</div>
}