@if (isVisible) {

<div class="absolute bottom-10 z-1 flex flex-col items-center w-40" [style.left]="clampedLeftPosition">

  <div [ngStyle]="previewImageStyles" class="shadow-lg border-2 rounded-2xl border-white" style="margin-bottom: 5px;">
  </div>

  <div class="flex items-center text-sm py-1 px-3 rounded-2xl bg-black text-white">
    <div>
      {{ formatTime(timeInSeconds) }}
    </div>

    @if (nearMarker; as marker) {
    <div class="ml-2 pl-2 font-semibold">
      {{ marker.title }}
    </div>
    }
  </div>
</div>
}