<div class="z-30 dock dock-xl  flex justify-around p-2 sticky w-full">
  <button routerLink="/global" routerLinkActive="dock-active" class="flex flex-col items-center " mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-play-circle bx-sm"></i>
    <span class="dock-label text-xs">Global</span>
  </button>
  <button routerLink="/search" routerLinkActive="dock-active" class="flex flex-col items-center" mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-search bx-sm"></i>
    <span class="dock-label text-xs">Search</span>
  </button>
  <button routerLink="/" routerLinkActive="dock-active" [routerLinkActiveOptions]="{ exact: true }"
    class="flex flex-col items-center" mat-ripple matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-home bx-sm"></i>
    <span class="dock-label text-xs">Home</span>
  </button>
  <button routerLink="/spaces" routerLinkActive="dock-active" class="flex flex-col items-center" mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-folder bx-sm"></i>
    <span class="dock-label text-xs">Spaces</span>
  </button>

  <button routerLink="/playlists" routerLinkActive="dock-active" class="flex flex-col items-center" mat-ripple
    matRippleColor="rgba(0, 0, 0, 0.6)">
    <i class="bx bx-list-ul bx-sm"></i>
    <span class="dock-label text-xs">Playlist</span>
  </button>
</div>