<dialog #dialog id="playlist_modal" class="modal" (keydown.escape)="onCancel()"
  (keydown.enter)="playlistName.trim() && submit()">

  <form (ngSubmit)="onConfirm()">

  </form>
  <div class="modal-box bg-base-200" (click)="$event.stopPropagation()">
    <h3 id="playlist_modal_title" class="font-bold text-xl mb-4">
      Create New Playlist
    </h3>

    <label for="playlistNameInput" class="sr-only">Playlist Name</label>
    <input #playlistInput id="playlistNameInput" type="text" [(ngModel)]="playlistName"
      placeholder="Enter playlist name" class="input input-bordered w-full" aria-required="true" autocomplete="off" />

    <div class="modal-action mt-6 flex justify-end space-x-3">
      <!-- Close Button -->
      <button type="button" class="btn btn-ghost" (click)="onCancel()" aria-label="Cancel creating playlist">
        Cancel
      </button>

      <!-- Create Button -->
      <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!playlistName.trim()"
        [attr.aria-disabled]="!playlistName.trim()">
        Create
      </button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>