<dialog id="delete-alert" class="modal">
  <div class="modal-box p-0" style="width: 80vw; overflow: hidden;" (click)="$event.stopPropagation()">

    <!-- Modal Content Section (Scrollable) -->
    <div class="space-y-4 overflow-y-auto p-5 " style="flex-grow: 1;">

      <div class="flex flex-col h-full">

        <div class="flex flex-col gap-1 mb-5 flex-1 justify-center items-center">
          <i class='bx bx-error bx-lg text-error'></i>
          <span class="font-bold">
            Delete Account
          </span>
          <div class="text-center text-sm">
            You're going to delete your "Account"
          </div>
        </div>


        <div class="flex gap-2 w-full">
          <button class="btn btn-sm flex-1" (click)="this.CloseModal()">No,keep it.</button>
          <button class="btn btn-sm flex-1 btn-error">Yes,Delete!</button>
        </div>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>