<div class="w-full">
  <div class="flex items-center justify-between">
    <h2 class="text-lg font-semibold">Spaces</h2>
    <button class="btn btn-sm btn-outline" (click)="fetchFolders()" [disabled]="loading">
      <i class='bx  bx-refresh bx-xs'></i>
      <span *ngIf="!loading">Refresh</span>
      <span *ngIf="loading" class="loading loading-spinner loading-xs"></span>
    </button>
  </div>

  <ul class="menu menu-sm rounded w-full">
    <ng-container *ngIf="folderTree">
      <ng-template [ngTemplateOutlet]="renderNode" [ngTemplateOutletContext]="{ $implicit: folderTree }" />
    </ng-container>
  </ul>
</div>

<!-- Define Template Node -->
<ng-template #renderNode let-node>
  <ng-container *ngIf="node">
    <li>
      <a href="#" (click)="onSelect(node.path); $event.preventDefault()"
        [ngClass]="{ 'font-bold text-primary': isActive(node.path) }" class="flex items-center gap-2">
        <i class='bx  bx-folder bx-xs'></i>
        {{ node.name }}
        <i class='bx  bx-lock'></i>
        <div class="badge badge-sm">+99</div>
      </a>
      <ul *ngIf="node.children?.length" class="ml-4">
        <ng-container *ngFor="let child of node.children">
          <ng-template [ngTemplateOutlet]="renderNode" [ngTemplateOutletContext]="{ $implicit: child }" />
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ng-template>