<div
  class="h-full flex flex-col overflow-visible relative rounded-lg hover:bg-base-300 hover:scale-102 transition-all duration-200 p-3">
  <div class="block w-full h-40 rounded-lg overflow-hidden cursor-pointer relative" (click)="navigateToWatch()">
    <figure class="relative w-full h-40 rounded-lg overflow-hidden bg-transparent">
      @if (isSaved) {
      <div class="absolute bottom-2 left-2 ">
        <button class="btn btn-xs btn-circle bg-black/60 hover:bg-black text-yellow-500 border-none"
          title="Add to Saved" (click)="$event.preventDefault(); $event.stopPropagation()">
          <i class="bx bxs-star text-sm"></i>
        </button>
      </div>
      }


      @if (isWatched) {
      <div
        class="absolute top-2 right-2 bg-black text-white text-xs font-semibold px-2 py-0.5 rounded-full flex items-center gap-1 shadow">
        <span>Watched</span>
      </div>
      }

      <!-- Thumbnail if PreviewPlayback is false -->
      @if (!PreviewPlayback) {
      <div (click)="navigateToWatch()" class="relative w-full h-full">
        <img [src]="getThumbnailUrl()" [alt]="video.fileName"
          class="w-full h-full object-cover absolute top-0 left-0" />
      </div>
      } @else {
      <!-- Video playback if PreviewPlayback is true -->
      <div (click)="navigateToWatch()" class="relative w-full h-full">
        <video #preview *ngIf="PreviewPlayback" [src]="getPreviewUrl()" muted loop playsinline
          class="w-full h-full object-cover absolute top-0 left-0"></video>
      </div>
      }


      <div class="absolute bottom-2 right-2 bg-black text-white bg-opacity-60 text-xs px-2 py-1 rounded">
        {{ formatDuration(video.codecs.durationSec) }}
      </div>

      @if (videoQuality) {
      <div class="absolute top-2 left-2 bg-black bg-opacity-60 text-white text-xs font-semibold px-2 py-0.5 rounded">
        {{ videoQuality }}
      </div>
      }

    </figure>
  </div>

  <div class="flex flex-col gap-2 mt-2 rounded-lg " (click)="$event.stopPropagation()">

    <div class="flex items-center gap-2">

      <div class="avatar avatar-placeholder flex-shrink-0">
        <div class="bg-neutral text-neutral-content w-10 rounded-full border border-base-200">
          <span class="text-sm">{{ video.ownerAccountUsername.charAt(0).toUpperCase() }}</span>
        </div>
      </div>

      <div class="flex flex-col flex-1 min-w-0">

        <div class="flex justify-between items-center">
          <div class="flex items-center gap-2 flex-1 min-w-0">
            <a [routerLink]="['/users', video.ownerAccountUsername]" class="text-xs truncate min-w-0">
              {{ video.ownerAccountUsername }}
            </a>
            <div class="text-[10px] font-light flex-shrink-0">{{ timeSinceAdded }}</div>
          </div>

          <div class="dropdown dropdown-end flex-shrink-0" (click)="$event.stopPropagation()">
            <div tabindex="0" role="button" class="btn btn-xs btn-ghost">
              <i class='bx bx-dots-horizontal bx-xs'></i>
            </div>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-44 ">
              <li><a (click)="download($event)">Download</a></li>
              <li>
                <a (click)="toggleSaved($event)">
                  {{ isSaved ? "UnSave" : "Save" }}
                </a>
              </li>
              <li><a (click)="addToPlaylist($event)">Send to</a></li>
            </ul>
          </div>
        </div>

        <div class="font-semibold text-sm text-start truncate pr-6 min-w-0 max-w-full">
          {{ video.fileName }}
        </div>
      </div>

    </div>

    @if (video.tags.length > 0) {
    <div class="flex flex-wrap gap-1">
      @for (tag of video.tags; track $index) {
      <app-tag-link [tag]="tag" class="mr-1"></app-tag-link>
      }
    </div>
    }



  </div>
</div>

<app-sendto-modal [showModal]="playlistModalVisible" [selectedVideoId]="this.video.videoId"
  (close)="closePlaylistModal()">
</app-sendto-modal>