<div class="relative w-full overflow-hidden bg-black rounded-xl" [class.flex]="isFullscreen"
  [class.items-center]="isFullscreen" [class.justify-center]="isFullscreen" #playerWrap appPlayerControlsHost
  (inputEvents)="handleInputs($event)">

  <!-- Video element -->
  <video #videoRef
    [ngClass]="{ 'w-full': !isFullscreen, 'w-auto': isFullscreen, 'max-h-screen': isFullscreen, 'aspect-video': true, 'block': true }"
    [src]="videoUrl" [poster]="thumbnailUrl" (touchstart)="showControls()">
  </video>

  @if(this.nativeplayerViewInit){
  <!-- Marker display -->
  <div class="absolute inset-0 w-full h-full flex justify-between items-start p-5 z-50 pointer-events-none">
    <app-debugger [htmlPlayer]="this.videoRef"></app-debugger>
    <app-marker-display class="pointer-events-auto"></app-marker-display>
  </div>
  }

  <!-- <div class="absolute inset-0 w-full h-full z-1 pointer-events-none">
    <app-scrub-image [scrubThumbStream]="this.thumbnailData"></app-scrub-image>
  </div> -->

  <!-- Touch controls -->
  <div class="absolute inset-0 z-30 flex justify-center items-center pointer-events-none">

    <!-- Rewind -->
    <div class="w-1/3 h-1/2 pointer-events-auto " (touchstart)="handleTouch($event)">
      <div class="flex items-center justify-center h-full transition-opacity duration-200"
        [ngClass]="{ 'opacity-0': !rewindVisible }">
        <div class="bg-black/40 rounded-full p-6">
          <i class='bx bx-rewind text-[6rem] text-white'></i>
        </div>
      </div>
    </div>

    <!-- Play/Pause -->
    <div class="w-1/3 h-1/2 pointer-events-auto flex items-center justify-center" (click)="handleCenterTap($event)">
      <div class="w-40 h-40 flex items-center justify-center rounded-full transition-all duration-300"
        [ngClass]="{ 'bg-black/20 opacity-100': overlayVisible, 'opacity-0': !overlayVisible }">
        <i class='bx text-[8rem] text-white' [ngClass]="isPaused ? 'bx-play' : 'bx-pause'"></i>
      </div>
    </div>

    <!-- Forward -->
    <div class="w-1/3 h-1/2 pointer-events-auto " (touchstart)="handleTouch($event)">
      <div class="flex items-center justify-center h-full transition-opacity duration-200"
        [ngClass]="{ 'opacity-0': !forwardVisible }">
        <div class="bg-black/40 rounded-full p-6">
          <i class='bx bx-fast-forward text-[6rem] text-white'></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls black overlay -->
  <div class="absolute bottom-0 left-0 right-0 h-1/2 pointer-events-none z-40
    bg-gradient-to-t from-black/90 to-transparent transition-opacity duration-300"
    [ngClass]="{ 'opacity-0': !controlsVisible }">
  </div>

  <!-- Bottom Controls container -->
  <div class="absolute inset-0 flex flex-col justify-end px-4 pb-4 transition-all duration-300 z-50 pointer-events-none"
    [ngClass]="{ 'opacity-0': !controlsVisible }">

    @if(videoReady){
    <div (touchstart)="$event.stopPropagation()" class="pointer-events-auto">


      <!-- Timeline / Display time -->
      <div class="flex justify-center items-end px-3 text-sm text-white">

        <app-main-timeline class="w-full" #mainTimelineRef [videoRef]="this.videoRef"
          [scrubThumbData]="this.thumbnailData">
        </app-main-timeline>

      </div>

      <!-- Pause / Sound / Settings / Fullscreen -->
      <div class="flex items-center justify-between gap-2 mt-2 text-white">
        <div class="flex items-center gap-2 ">
          <app-play-pause-button></app-play-pause-button>
          <app-mute-button></app-mute-button>
          <div class="flex justify-center items-center gap-1">
            <app-display-current-time></app-display-current-time>
            <span class="select-none">/</span>
            <app-display-total-time></app-display-total-time>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <app-time-tag-button></app-time-tag-button>
          <app-settings-button></app-settings-button>
          <app-full-screen-button></app-full-screen-button>
        </div>
      </div>
    </div>
    }
  </div>
</div>