<div class="relative w-full" #playerWrap appPlayerControlsHost (hostEvents)="handleHostEvent($event)">

  <video #videoRef class="w-full aspect-video block" [src]="videoUrl" [poster]="thumbnailUrl"
    (click)="togglePlayPause()">
  </video>

  <div id="controls-overlay"
    class="absolute inset-0 flex flex-col justify-end p-4 transition-all duration-300 bg-gradient-to-t from-black/80 to-transparent"
    [ngClass]="{
      'opacity-0 pointer-events-none': !controlsVisible,
      'cursor-none': !controlsVisible
    }" (click)="togglePlayPause()">

    @if(this.videoRef){
    <div (click)="$event.stopPropagation()">
      <app-main-timeline #mainTimelineRef [videoRef]="this.videoRef" [scrubThumbData]="this.thumbnailData"
        [markersData]="this.markersData"></app-main-timeline>

      <div class="flex items-center justify-between gap-2 mt-2 text-white">

        @if (this.videoRef) {

        <div class="flex items-center gap-2 ">
          <app-play-pause-button [videoRef]="this.videoRef">
          </app-play-pause-button>

          <app-mute-button #muteButtonRef [videoRef]="this.videoRef"></app-mute-button>

          <div class="text-sm font-mono flex gap-1">
            <app-display-time [videoRef]="this.videoRef">
            </app-display-time>
          </div>

        </div>

        <div class="flex items-center gap-2">
          <app-settings-button [videoRef]="this.videoRef"></app-settings-button>
          <app-full-screen-button [playerContainerRef]="this.playerWrap"></app-full-screen-button>
        </div>
        }

      </div>
    </div>
    }

  </div>

</div>