<div class="flex flex-col w-full h-full overflow-y-hidden">


    <mat-paginator [length]=" TotalVideos" [pageSize]="BucketContentSize" [pageIndex]="CurrentBucket - 1"
        showFirstLastButtons="true" (page)="loadPage($event.pageIndex + 1)" hidePageSize="true">
    </mat-paginator>

    <div #Container class="h-full overflow-y-auto py-3 px-2">
        <app-gallery-view [ViewMode]="isMiniView ? 'mini' : 'full'" [PreviewPlayback]="PreviewPlayback"
            [videos]="videos"></app-gallery-view>
    </div>
</div>