<!-- Actions -->
<div class="my-8 flex flex-wrap justify-center gap-4 px-4">
  <button class="btn btn-primary text-sm px-6 py-2 " (click)="OnCreatePlaylistButton()">
    <i class='bx  bx-folder-plus bx-sm'></i>
    Create New Playlist
  </button>

  <button class="btn text-sm px-6 py-2 border border-base-content/10 hover:bg-base-300" (click)="toggleManageMode()">
    {{ manageMode ? "Done" : "Manage" }}
  </button>
</div>

<!-- Manager -->
<div class="w-full h-15">
  <div *ngIf="manageMode" class="flex flex-wrap justify-around gap-4">
    <div class="flex flex-row justify-center items-center gap-4">
      <input type="checkbox" class="checkbox checkbox-sm" (change)="toggleSelectAll($event)" />
      <span class="label-text text-base select-none">Select All</span>
    </div>
    <div class="flex justify-end">
      <button (click)="onDeleteButton()" class="btn btn-error flex items-center gap-2">
        <i class='bx  bx-trash bx-sm'></i>
        Delete
      </button>
    </div>
  </div>
</div>

<!-- Playlist Grid -->
@if (!loading && playlists.length > 0) {
<section class="px-6 py-2 max-w-7xl mx-auto">
  <app-playlists-view [playlists]="playlists" [manageMode]="manageMode"></app-playlists-view>
</section>
}

@if (!loading && playlists.length === 0) {
<!-- Empty State -->
<section class="flex flex-col items-center justify-center text-center px-6 py-12 max-w-md mx-auto text-base-content/70">
  <h2 class="text-xl font-semibold text-base-content/80 mb-2">
    No playlists yet
  </h2>
  <p class="text-sm text-base-content/60">
    You haven't created any playlists. Start building one to organize your
    favorite videos!
  </p>
</section>
}


<!-- Playlist Creator Modal -->
<app-playlist-creator-modal #createPlaylistModal (created)="onPlaylistCreated($event)"
  (cancelled)="(null)"></app-playlist-creator-modal>

<!-- Confirm Delete Selected Playlist Modal -->
<app-confirm-modal #confirmModal (confirmed)="confirmDelete()" (cancelled)="(null)"></app-confirm-modal>