<div class="p-4">

    <div class="flex gap-4">

        <div class="stat shadow w-auto rounded-xl">
            <div class="stat-value">990</div>
            <div class="stat-desc">Total videos</div>
        </div>

        <div class="stat shadow w-auto rounded-xl">
            <div class="stat-value">005</div>
            <div class="stat-desc">Total users</div>
        </div>

        <div class="stat shadow w-auto rounded-xl">
            <div class="stat-value">500GB</div>
            <div class="stat-desc">Disk Used</div>
        </div>
    </div>

    <div class="flex flex-col gap-5 my-10">

        <div id="chart" class="text-base-content w-full ">

            <apx-chart [series]="userChart.series!" [chart]="userChart.chart!" [dataLabels]="userChart.dataLabels!"
                [stroke]="userChart.stroke!">
            </apx-chart>
        </div>

        <div id="chart2" class="text-base-content w-full ">

            <apx-chart [series]="userChart2.series!" [chart]="userChart2.chart!" [plotOptions]="userChart2.plotOptions!"
                [labels]="userChart2.labels!" [legend]="userChart2.legend!" [colors]="userChart2.colors!"
                [responsive]="userChart2.responsive!"></apx-chart>

        </div>
    </div>
</div>