<header class="h-14 flex backdrop-blur justify-between items-center bg-base-100/30 z-80">

  <div class="flex items-center justify-start gap-2">

    <!-- Drawer toggle button  -->
    <button type="button" class="btn btn-ghost " (click)="drawer?.toggle()">
      <i class='bx bx-menu bx-sm'></i>
    </button>

    <div class="text-lg flex-shrink-0">
      {{ pageTitle || "Home" }}
    </div>

  </div>

  <div class="px-5">

    <div class="tooltip tooltip-bottom" data-tip="Settings">
      <button class="btn btn-circle btn-ghost" (click)=" OpenSettingsModal()">
        <i class='bx bx-cog'>
        </i>
      </button>
    </div>

    <div class="tooltip tooltip-bottom " data-tip="Theme Swap">
      <label class="btn btn-circle btn-ghost swap swap-rotate">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" class="theme-controller" value="black" />


        <i class='swap-on bx bx-moon bx-xs'></i>

        <i class='swap-off bx bxs-sun bx-xs'></i>

      </label>
    </div>


    <div class="tooltip tooltip-bottom" data-tip="Activity">
      <button class="btn btn-circle btn-ghost">
        <i class='bx bx-bell'>
        </i>
      </button>
    </div>


  </div>

</header>