<ul tabindex="0" class="menu p-2 shadow bg-base-300/80 w-64 text-xs flex-nowrap " (click)="$event.stopPropagation()">
    <li class="menu-title uppercase text-[10px] select-none">
        <div class="flex items-center justify-between">
            <span>Time Tag Links</span>
            <span>total: {{ this.filteredMarkers.length }}</span>
        </div>
    </li>
    <li class="w-full flex flex-row items-center gap-2">
        <label class="flex-1 input input-xs focus:outline-none flex items-center mb-0">
            <i class="bx bx-search bx-xs"></i>
            <input autocomplete="off" #searchInput type="search" class="flex-1" placeholder="Search"
                [(ngModel)]="markerSearch" (input)="filterMarkers()" />
        </label>
        <div class="tooltip tooltip-bottom" data-tip="New Marker">
            <button class="btn btn-xs ml-2" (click)="openMarkerCreator()">
                <i class='bx bx-plus'></i>
            </button>
        </div>
    </li>

    <div class="max-h-60 overflow-y-auto mt-2 custom-scrollbar">
        @if (this.filteredMarkers.length > 0) {
        @for (marker of this.filteredMarkers; track $index) {
        <li class="group">
            <div class="flex items-center justify-between gap-2  hover:bg-base-200 rounded-md cursor-pointer"
                (click)="selectMarker(marker)">
                <a class="flex flex-col justify-center items-start gap-1">
                    <span>{{ marker.label }}</span>
                    <span class="text-[10px]">{{ formatTime(marker.timeSecond) }}</span>
                </a>
                <div>
                    <button class="btn btn-error btn-ghost btn-xs px-1 "
                        (click)="removeMarker(marker); $event.stopPropagation();">
                        <i class='bx bx-x bx-xs'></i>
                    </button>
                </div>
            </div>
        </li>
        }
        } @else {
        <li class="opacity-50 p-2 text-center"><a>No tag-time found</a></li>
        }
    </div>
</ul>

<app-marker-creator-modal #markerCreatorModal (confirmed)="onMarkerCreated($event)"></app-marker-creator-modal>