<div class="flex flex-wrap gap-10">

    <fieldset class="fieldset bg-base-100 rounded-box w-64  p-4">
        <legend class="fieldset-legend">Password</legend>
        <label class="label">Current Password</label>
        <input type="password" class="input" placeholder="Enter current password" />

        <label class="label">New Password</label>
        <input type="password" class="input" placeholder="Enter new password" />

        <label class="label">Confirm Password</label>
        <input type="password" class="input" placeholder="Confirm new password" />

        <label class="label">
            <button class="btn btn-info w-full">Update</button>
        </label>
    </fieldset>


    <fieldset class="fieldset bg-base-100  rounded-box w-64 p-4">
        <legend class="fieldset-legend">Active Sessions</legend>

        <div class="flex flex-col gap-2">
            <div class="flex items-center">
                <span class="mr-2">Session 1</span>
                <button class="btn btn-error btn-xs">Terminate</button>
            </div>
            <div class="flex items-center">
                <span class="mr-2">Session 2</span>
                <button class="btn btn-error btn-xs">Terminate</button>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset bg-base-100  rounded-box w-64 p-4">
        <legend class="fieldset-legend">Profile Visibility</legend>
        <label class="label">
            <input type="checkbox" checked="checked" class="toggle" />
            Public
        </label>
    </fieldset>



</div>