<dialog id="playlist-modal" class="modal" [open]="showModal" (click)="closeModal()">
  <div class="modal-box bg-base-100 p-1  w-300 h-100 shadow-md " (click)="$event.stopPropagation()">

    <div class="tabs tabs-border h-full overflow-y-hidden">
      <input type="radio" name="my_tabs_2" class="tab" aria-label="Playlists" checked="checked" />
      <div class="tab-content p-5 overflow-y-auto">

        <div class="flex flex-col justify-between  h-full">

          <div class="flex flex-col">
            <div class="flex justify-between">

              <span class="text-sm mb-5">Your Playlists</span>
              <button class="btn btn-ghost btn-sm " aria-label="Edit Playlists" (click)="navigateToPlaylists()"
                title="Edit Playlists">
                Edit Playlist
                <i class="bx bx-edit-alt text-lg"></i>
              </button>

            </div>

            @if (loading && showModal) {
            <!-- Loading spinner/message -->
            <div class="text-center py-4 text-gray-500">
              Loading playlists...
            </div>
            }

            @if (!loading && playlists.length === 0 && showModal) {
            <!-- No playlists available -->
            <div class="text-center py-4 text-gray-500">
              No playlists found.
            </div>
            }

            @if (!loading && playlists.length > 0) {
            <!-- Playlists list -->

            <form (ngSubmit)="save()" class="max-h-48 overflow-y-auto mb-4 px-2">
              <div class="form-control mb-2" *ngFor="let playlist of playlists; trackBy: trackBySlug">
                <label class="label cursor-pointer flex items-center space-x-3">
                  <input type="checkbox" class="checkbox checkbox-sm" [(ngModel)]="playlist.checked"
                    name="{{ playlist.slug }}" />
                  <span class="label-text text-base select-none">{{ playlist.title }}</span>
                </label>
              </div>
            </form>
            }
          </div>


          <div class="flex justify-center space-x-4 px-2">
            <button class="btn " (click)="closeModal()">Cancel</button>
            <button class="btn btn-primary" (click)="save()">Save</button>
          </div>
        </div>
        <!-- Top right icon button -->





      </div>

      <input type="radio" name="my_tabs_2" class="tab" aria-label="Users" />
      <div class="tab-content p-5 h-full overflow-y-auto">

        <div class="flex w-full items-center justify-between">
          <div class="flex gap-2 items-center">
            <div>
              <img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/4@94.webp" />
            </div>
            <div>
              <div>Ellie Beilish</div>
              <div class="text-xs opacity-60">&#64;ellie_beilish</div>
            </div>
          </div>

          <button class="btn btn-circle"><i class='bx  bx-send'></i></button>
        </div>

      </div>

    </div>

  </div>
</dialog>