<div class="flex items-center justify-start gap-5">

  <div class="flex items-center justify-start gap-2">
    <div class="avatar avatar-placeholder">
      <div class="bg-neutral text-neutral-content w-12 rounded-full">
        <span>{{ videoData.ownerAccountUsername.charAt(0).toUpperCase() }}</span>
      </div>
    </div>
    <div class="flex flex-col">
      <a [routerLink]="['/users', videoData.ownerAccountUsername]" class="text-xs truncate min-w-0">
        {{ videoData.ownerAccountUsername }}
      </a>
      <span class="text-xs">{{ timeSinceAdded }}</span>
    </div>
  </div>


</div>